@import '/public/const.scss';

.steps-home{
    display: flex;
    flex-direction: column;
    gap: 60px;
    h2 {
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
        margin-right: 60px;
        margin-bottom: 0;
    }
    .steps-card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
        .steps-card{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 40%;
            width: 40%;
            flex: 1;
            .steps-num{
                position: absolute;
                z-index: -1;
                font-size: 300px;
                line-height: 1;
                color: $beige;
                margin: 0 0 0 3%;
                opacity: .8;
                //transform: translateY(-40%);
            }
            .steps-card-body{
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 40px;
                justify-content: space-between;
                flex: 1;
                box-shadow:  -10px -10px 20px rgb(255, 255, 255), 4px 4px 20px hsla(240, 12%, 72%, 0.6);
                border-radius: 25px;
                backdrop-filter: blur(13px);
                z-index: 0;
                padding: 35px 45px;
                transition: .3s ease;
                .steps-title{
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 1.3;
                }
                .steps-text{
                    display: flex;
                    flex: 1;
                    position: relative;
                    font-size: 18px;
                    line-height: 1.3;
                }
                .steps-text::before{
                    content: '';
                    position: absolute;
                    top: -20px;
                    left: 0;
                    height: 1px;
                    width: 140px;
                    background-color: $dark-beige;
                }
            }
            .steps-card-body:hover{
                transform: translate(-3px,-3px);
            }
        }
    }
}
@media(max-width:992px){
    .steps-home{
        h2{
            font-size: 26px;
            margin-right: 0;
        }
        .steps-card-container{
            flex-direction: column;
            gap: 20px;
            .steps-card{
                min-width: 100%;
                width: 100%;
                .steps-num{
                    font-size: 240px;
                }
                .steps-card-body{
                    padding: 20px;
                    gap: 25px;
                    .steps-title{
                        font-size: 22px;
                    }
                    .steps-text{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}