@import "/public/const.scss";

@keyframes absolute {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fixed {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes line {
  0% {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
  }
  50% {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
}

.fixed {
  position: absolute;
  animation: fixed 0.6s ease;
}
.translate {
  position: fixed;
  transform: translateY(-120%);
}
.all-header.animate {
  animation: absolute 1s ease;
}
.all-header {
  display: flex;
  position: fixed;
  backdrop-filter: blur(15px);
  //box-shadow: 0px 0px 20px hsla(0, 0%, 63%, 0.2);
  box-shadow: 0px 0px 30px hsla(240, 12%, 72%, 0.5);
  z-index: 10;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background: hsla(240, 11%, 95%, 1);
  padding: 0px 15%;
  align-items: center;
  transition: transform 0.4s ease, position 0.4s ease;
  -webkit-transition: transform 0.4s ease, position 0.4s ease;
  -moz-transition: transform 0.4s ease, position 0.4s ease;
  -ms-transition: transform 0.4s ease, position 0.4s ease;
  -o-transition: transform 0.4s ease, position 0.4s ease;
  color: black;
  .btn-menu {
    display: none;
    background: transparent;
    border: none;
    svg {
      width: 30px;
      height: 30px;
      fill: black;
    }
  }
  .contacts-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      a {
        transition: 0.3s ease;
        svg {
          fill: rgba(0, 0, 0, 0.8);
          transition: 0.3s ease;
        }
      }
      a:hover {
        svg {
          fill: $dark-beige;
        }
      }
    }
    button {
      color: black;
      padding: 10px 24px;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.5);
      font-size: 16px;
      transition: 0.4s ease;
      border-radius: 17px;
      -webkit-border-radius: 17px;
      -moz-border-radius: 17px;
      -ms-border-radius: 17px;
      -o-border-radius: 17px;
      -webkit-transition: 0.4s ease;
      -moz-transition: 0.4s ease;
      -ms-transition: 0.4s ease;
      -o-transition: 0.4s ease;
    }
    button:hover {
      //background-color: rgba(255, 255, 255, 0.25);
      //color: black;
      //font-weight: 475;
      border: 1px solid transparent;
      background-color: transparent;
      color: $dark-beige;
      box-shadow: -10px -10px 20px rgb(255, 255, 255),
        4px 4px 20px hsla(240, 12%, 72%, 0.6);
      text-shadow: 0 0 1px $beige;
    }
    svg {
      width: 32px;
      height: 32px;
      margin-top: 2px;
      cursor: pointer;
    }
  }
  .logo-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    img {
      height: 120px;
      width: auto;
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    gap: 35px;
    a {
      color: black;
      transition: 0.2s ease;
      font-weight: 400;
    }
    a:hover {
      color: $dark-beige;
    }
  }
}

.offcanvas {
  border-left: none !important;
  background-color: rgba(255, 255, 255, 0.8);
  color: black !important;
  backdrop-filter: blur(30px);
  width: 100%;
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    a {
      color: black;
      transition: 0.2s ease;
      font-weight: 500;
    }
    a:hover {
      color: $beige;
    }
    .logo-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      img {
        height: 90px;
        width: auto;
      }
      .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        span:nth-child(1) {
          font-family: "MontserratAlternates";
          font-size: 28px;
          font-weight: 500;
        }
        span:nth-child(2) {
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 4px;
          transform: scale(1, 0.8);
          margin-top: -8px;
        }
      }
    }
    .contacts-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        a {
          transition: 0.3s ease;
          svg {
            transition: 0.3s ease;
          }
        }
        a:hover {
          svg {
            fill: $beige;
          }
        }
      }
      .tel {
        display: flex;
        align-items: center;
        transition: 0.3s ease;
        cursor: pointer;
        svg {
          height: 26px;
          margin-top: 4px;
          width: fit-content;
        }
        a {
          text-wrap: nowrap;
          font-weight: 500;
        }
      }
      .tel:hover {
        color: $beige;
      }
      svg {
        width: 32px;
        height: 32px;
        margin-top: 2px;
        cursor: pointer;
      }
    }
    .footer-contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      color: black;
      font-size: 16px;
      font-weight: 300;
      justify-content: center;
      z-index: 1;
      .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        .icon {
          width: fit-content;
          height: fit-content;
          padding: 5px 5px;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            fill: black;
            height: 35px;
            width: auto;
            transition: 0.3s ease;
          }
        }
        .icon:hover {
          svg {
            fill: $beige;
          }
        }
      }
      P {
        margin: 0px 0 10px;
      }
      a {
        transition: 0.3s ease;
        text-align: right;
      }
      a:hover {
        color: $beige;
      }
      .adress {
        color: rgba(255, 255, 255, 0.8);
      }
      .link-more {
        border: 1px solid $beige;
        background-color: transparent;
        font-family: inherit;
        letter-spacing: inherit;
        font-size: 18px;
        margin-right: 0;
        cursor: pointer;
        color: black;
        padding: 13px 30px;
        border-radius: 20px;
        transition: 0.3s ease;
        span {
          color: black;
          z-index: 1;
          transition: 0.3s ease;
        }
      }
      .link-more:hover {
        background-color: $dark-beige;
        border: 1px solid $dark-beige;
        span {
          color: white;
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .all-header {
    padding: 0px 10%;
  }
}
@media (max-width: 1300px) {
  .all-header {
    padding: 0px 5%;
  }
}
@media (max-width: 1200px) {
  .all-header {
    .menu {
      gap: 25px;
    }
  }
}
@media (max-width: 1125px) {
  .all-header {
    padding: 0 5%;
    .btn-menu {
      display: block;
    }
    .contacts-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      display: none;
      .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        a {
          transition: 0.3s ease;
          svg {
            transition: 0.3s ease;
          }
        }
        a:hover {
          svg {
            fill: $beige;
          }
        }
      }
      .tel {
        display: flex;
        align-items: center;
        transition: 0.3s ease;
        cursor: pointer;
        svg {
          height: 26px;
          margin-top: 4px;
          width: fit-content;
        }
        a {
          text-wrap: nowrap;
          font-weight: 500;
        }
      }
      .tel:hover {
        color: $beige;
      }
      svg {
        width: 32px;
        height: 32px;
        margin-top: 2px;
        cursor: pointer;
      }
    }
    .logo-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-self: flex-start;
      img {
        height: 80px;
      }
      .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          font-size: 24px;
        }
      }
    }
    .menu {
      display: flex;
      flex-direction: row;
      gap: 26px;
      text-transform: uppercase;
      display: none;
      a {
        color: black;
        transition: 0.2s ease;
        font-weight: 500;
      }
      a:hover {
        color: $beige;
      }
    }
    .mob {
      display: flex;
      flex-direction: column;
    }
  }
}
