@import "/public/const.scss";

.home-services {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 45px;
  .swiper-title-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
      position: relative;
      font-size: 18px;
      font-weight: 400;
      svg {
        transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
        -webkit-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
        -moz-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
        -ms-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
        -o-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
      }
    }
    a:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 0;
      background-color: black;
      transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
      -webkit-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
      -moz-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
      -ms-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
      -o-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
    }
    a:hover:before {
      width: 100%;
    }
    a:hover {
      svg {
        transform: scaleX(1.1) translateX(20%);
        -webkit-transform: scaleX(1.1) translateX(20%);
        -moz-transform: scaleX(1.1) translateX(20%);
        -ms-transform: scaleX(1.1) translateX(20%);
        -o-transform: scaleX(1.1) translateX(20%);
      }
    }
    h2 {
      font-size: 48px;
      font-weight: 400;
      text-transform: uppercase;
      margin-right: 60px;
      margin-bottom: 0;
    }
    div {
      display: flex;
      flex-direction: row;
      gap: 15px;
      align-items: center;
      .swiper-button-prev-new,
      .swiper-button-next-new {
        width: 50px;
        height: 50px;
        border: none;
        background-color: $dark-gray;
        color: white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -webkit-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -moz-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -ms-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -o-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      .swiper-button-prev-new:active,
      .swiper-button-next-new:active {
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
      }
    }
  }
  .promo-catalog {
    width: 100%;
    overflow: visible;
    .swiper-slide {
      position: relative;
      width: calc(35vw - 25px);
      margin-right: 40px;
      overflow: hidden;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      height: 380px;
      transition: 0.3s ease;
      img {
        position: absolute;
        z-index: -99;
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        transition: 0.3s ease;
      }
      .services-home-card {
        padding: 40px;
        background-color: hsla(264, 4%, 22%, 0.75);
        width: 100%;
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        //gap: 40px;
        line-height: 1.3;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
        -webkit-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
        -moz-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
        -ms-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
        -o-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
        img {
          position: relative;
          z-index: 1;
          width: 65px;
          height: 65px;
          border-radius: 0;
        }
        .title-card {
          display: flex;
          gap: 15px;
          align-items: center;
          margin-bottom: 20px;
          p {
            font-size: 32px;
            font-weight: 450;
            margin-bottom: 0;
          }
        }
        .description-card {
          display: flex;
          flex-direction: column;
          gap: 18px;
          align-items: flex-start;
          .line {
            height: 1px;
            width: 100px;
            background-color: $beige;
          }
          p {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 450;
          }
          span {
            font-weight: 300;
            font-size: 16px;
          }
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
            transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
            -webkit-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
            -moz-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
            -ms-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
            -o-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
            border-radius: 40px;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            -ms-border-radius: 40px;
            -o-border-radius: 40px;
            width: 58px;
            //height: 50px;
            border: none;
            background-color: white;
            color: black;
            svg {
              min-width: 34px !important;
              height: 34px;
              transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
              -webkit-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
              -moz-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
              -ms-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
              -o-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
            }
          }
          .button-card::before {
            content: "Подробнее";
            width: 0;
            overflow: hidden;
            font-weight: 450;
            font-size: 16px;
            transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
            -webkit-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
            -moz-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
            -ms-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
            -o-transition: 0.4s cubic-bezier(0, 0, 0.5, 1);
          }
        }
      }
      .services-home-card:hover {
        .description-card {
          button {
            width: 200px;
          }
          button:before {
            width: fit-content;
          }
        }
      }
    }
    .swiper-slide:hover {
      box-shadow: -10px -10px 20px rgb(255, 255, 255),
        4px 4px 20px hsla(240, 12%, 72%, 0.6);
      transform: translate(-3px, -3px);
      .service-fon {
        transform: scale(1.1);
      }
    }
  }
}
@media (max-width: 1690px) {
  .home-services {
    .promo-catalog {
      .swiper-slide {
        .services-home-card {
          .title-card {
            p {
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .home-services {
    .promo-catalog {
      .swiper-slide {
        min-width: calc(50% - 20px);
        .services-home-card {
          .title-card {
            p {
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .home-services {
    gap: 30px;
    .swiper-title-pagination {
      h2 {
        font-size: 30px;
        margin-right: 0px;
      }
      div {
        .swiper-button-next-new,
        .swiper-button-prev-new {
          display: none;
        }
      }
      a {
        font-size: 16px;
        svg {
          height: 25px;
          width: auto;
        }
      }
    }
    .promo-catalog {
      .swiper-slide {
        width: 85% !important;
        min-width: 85%;
        margin-right: 20px;
        .services-home-card {
          padding: 20px;
          img {
            display: none;
          }
          .title-card {
            gap: 5px;
            p {
              font-size: 19px;
            }
          }
          .description-card {
            p {
              font-size: 15px;
              font-weight: 400;
            }
            span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
