@import "/public/const.scss";

$tag-color: $dark-beige;
$background-color: #f0f0f0;
$card-background: white;
$card-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$border-radius: 5px;
$font-color: #666;
$input-border: #ccc;
$primary-color: rgb(15, 15, 15);


@keyframes load-more {
    0%{
        box-shadow:  -10px -10px 20px rgb(255, 255, 255), 4px 4px 20px hsla(240, 12%, 72%, 0.8), inset 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px hsla(240, 12%, 72%, 0);
    }
    50%{
        box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px hsla(240, 12%, 72%, 0), inset -5px -5px 15px rgb(255, 255, 255), inset 4px 4px 15px hsla(240, 12%, 72%, 0.8);
    }
    100%{
        box-shadow:  -10px -10px 20px rgb(255, 255, 255), 4px 4px 20px hsla(240, 12%, 72%, 0.8), inset 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 0px hsla(240, 12%, 72%, 0);
    }
}

.display{
    display: none;
}
.container {
    max-width: 70%;
    margin: 100px auto;
    padding: 20px;

    .load-more{
        display: inline-block;
        padding: 12px 25px;
        font-size: 1rem;
        color: black;
        box-shadow:  -10px -10px 20px rgb(255, 255, 255), 4px 4px 20px hsla(240, 12%, 72%, 0.8);
        background-color: transparent; 
        border: none;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        transition: .4s ease;
        margin: 50px auto; 
        display: block; 
        
    }
    .load-more:hover{
        color: $beige;
        //text-shadow: 0px 0px 1px $beige;
    }
    .load-more:active{
        color: $beige;
        //text-shadow: 0px 0px 1px $beige;
        animation: load-more .4s ease;
    }
    .search {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
        margin: 100px 0 80px;
        gap: 100px;
        h1{
            text-transform: uppercase;
            font-weight: 300;
            font-size: 64px;
            animation: serv2 1s ease;
            margin-bottom: 0;
            line-height: 1;
        }
        .search-container {
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            h3{
                margin-bottom: 0;
            }
            input {
                width: 100%;
                padding: 10px;
                border: 1px solid $input-border;
                border-radius: $border-radius;
            }
        }

        .tags-container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: flex-end;
            gap: 15px;
            width: 80%;
            button {
                font-size: 14px;
                padding: 13px 24px;
                border: none;
                font-weight: 500;
                border: 1px solid hsla(0, 0%, 47%, 0.5);
                border-radius: 20px;
                margin: 0;
                background: transparent;
                cursor: pointer;
                color: hsla(0, 0%, 47%, 0.85);
                transition: .4s ease;
                &.active {
                    box-shadow:  -5px -5px 15px rgb(255, 255, 255), 4px 4px 15px hsla(240, 12%, 72%, 0.8);
                    border: 1px solid transparent;
                    color: $dark-beige;
                    //text-shadow: 0 0 1px $beige;
                }
                &.active:hover {
                    box-shadow:  -5px -5px 15px rgb(255, 255, 255), 4px 4px 15px hsla(240, 12%, 72%, 0.8);
                    border: 1px solid transparent;
                    color: $dark-beige;
                    //text-shadow: 0 0 1px $beige;
                }
            }
            button:hover{
                box-shadow:  -5px -5px 15px rgb(255, 255, 255), 4px 4px 15px hsla(240, 12%, 72%, 0.8);
                border: 1px solid transparent;
                color: $beige;
                //text-shadow: 0 0 1px $beige;
            }
        }
    }
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    padding: 0 0%;
    .article-card {
        position: relative;
        min-width: 40%;
        width: calc(50% - 20px);
        flex: 1; 
        max-width: calc(50% - 10px);
        min-height: 340px;
        box-sizing: border-box;
        margin-bottom: 0;
        color: white;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 35vh;
        transition: .3s ease;
        animation: serv1 1s ease;
        gap: 10px;
        overflow: hidden;
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            transition: .4s cubic-bezier(0,0,.5,1);
            -webkit-transition: .4s cubic-bezier(0,0,.5,1);
            -moz-transition: .4s cubic-bezier(0,0,.5,1);
            -ms-transition: .4s cubic-bezier(0,0,.5,1);
            -o-transition: .4s cubic-bezier(0,0,.5,1);
            border-radius: 40px;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            -ms-border-radius: 40px;
            -o-border-radius: 40px;
            width: 58px;
            //height: 50px;
            border: none;
            background-color: white;
            color: black;
            svg
            {
                min-width: 34px !important;
                height: 34px;
                transition: .4s cubic-bezier(0,0,.5,1);
                -webkit-transition: .4s cubic-bezier(0,0,.5,1);
                -moz-transition: .4s cubic-bezier(0,0,.5,1);
                -ms-transition: .4s cubic-bezier(0,0,.5,1);
                -o-transition: .4s cubic-bezier(0,0,.5,1);
            }
        }
        .button-card::before{
            content: "Подробнее";
            width: 0;
            overflow: hidden;
            font-weight: 450;
            font-size: 16px;
            transition: .4s cubic-bezier(0,0,.5,1);
            -webkit-transition: .4s cubic-bezier(0,0,.5,1);
            -moz-transition: .4s cubic-bezier(0,0,.5,1);
            -ms-transition: .4s cubic-bezier(0,0,.5,1);
            -o-transition: .4s cubic-bezier(0,0,.5,1);
        }
        .article-card-fon{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            background-color: rgba(33, 31, 36, 0.6);
            width: 100%;
            height: 100%;
            padding: 60px;
            gap: 20px;
        }
        img{
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            left: 0;
            bottom: 0;
            margin-bottom: 0;
            border-radius: 0;
            transition: .5s ease;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            -webkit-transition: .5s ease;
            -moz-transition: .5s ease;
            -ms-transition: .5s ease;
            -o-transition: .5s ease;
        }
        h4 {
            margin: 0 0 40px 0;
            color: white;
            font-size: 34px;
            overflow: hidden;
            transition: .3s ease;
            z-index: 1;
            //transform: translateY(50%);
            //opacity: 0;
        }
            span {
                position: relative;
                color: white;
                font-size: 16px;
                font-weight: 400;
                z-index: 1;
                text-align: center;
                //transform: translateY(100%);
                //opacity: 0;
                transition: .3s ease;
            }
            span:after{
                content: '';
                position: absolute;
                width: 100px;
                height: 1px;
                background-color: $beige;
                box-shadow: 0 0 1px $beige;
                left: 0;
                top: -20px;
                transition: .3s ease;
            }
    }
    .article-card:hover{
        transform: translate(-2px, -2px);
        box-shadow:  -5px -5px 20px rgb(255, 255, 255), 4px 4px 20px hsla(240, 12%, 72%, 0.8);
        button{
            width: 190px;
        }
        button:before{
            width: fit-content;
        }
        img{
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
        }
        h4{
            transform: translateY(0);
            opacity: 1;
            color: white;
        }
        span{
            transform: translateY(0);
            opacity: 1;
        }
    }
    .no-articles {
        width: 100%;
        text-align: center;
        font-size: 1.25em;
        color: $font-color;
    }
  
}
@media (max-width:1600px){
    .container{
        max-width: 80%;
        margin: 100px 10% !important;
    }
    .articles-container {
        margin-top: 50px;
        .article-card{
            .article-card-fon{
                padding: 40px;
            }
        }
    }
}
@media (max-width:1300px){
    .container{
        max-width: 90%;
        margin: 100px 5% !important;
    }
    .articles-container {
        margin-top: 50px;
    }
}
@media (max-width:1124px){
    .container{
        .search{
            margin: 30px 0 60px;
        }
    }

}
@media (max-width:1117px){
    .container{
        .search{
            gap: 40px;
            flex-direction: column;
            h1{
                font-size: 40px;
            }
            .tags-container{
                width: 100%;
                justify-content: flex-start;
            }
        }
    }
    .articles-container {
        margin-top: 50px;
        .article-card{
            .article-card-fon{
                padding: 40px;
                h4{
                    font-size: 30px;
                }
            }
        }
    }
}
@media (max-width:1003px){
    .container{
        .search{
            flex-direction: column;
            .tags-container{
                gap: 10px;
                button{
                    font-size: 13px;
                    padding: 10px 20px;
                }
                button.active{
                    box-shadow: -5px -5px 10px rgb(255, 255, 255), 4px 4px 10px hsla(240, 12%, 72%, 0.8);
                }
                button:hover{
                    box-shadow: -5px -5px 10px rgb(255, 255, 255), 4px 4px 10px hsla(240, 12%, 72%, 0.8);
                }
            }
        }
    }
    
}
@media (max-width:800px){
    .container{
        padding: 0;
        max-width: 96%;
        margin: 100px 2% !important;
        .search{
            margin: 0px 0 0px;
            gap: 25px;
            h1{
                text-align: center;
                width: 100%;
            }
            .tags-container{
                gap: 10px;
                button{
                    font-size: 10px;
                    padding: 6px;
                    border-radius: 12px;
                }
                button.active{
                    box-shadow: -5px -5px 10px rgb(255, 255, 255), 4px 4px 10px hsla(240, 12%, 72%, 0.8);
                }
                button:hover{
                    box-shadow: -5px -5px 10px rgb(255, 255, 255), 4px 4px 10px hsla(240, 12%, 72%, 0.8);
                }
            }
        }
    }
    .articles-container{
        margin-top: 30px;
        flex-direction: column;
        gap: 2vw;
        .article-card{
            width: 100%;
            max-width: 100%;
            min-height: auto;
            button{
                padding: 7px;
            }
            .article-card-fon{
                padding: 30px;
                h4{
                    font-size: 24px;
                }
                span{
                    font-size: 14px;
                }
            }
        }
    }
}
