html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: #F0F0F3;
  font-family: var(--font-montserrat) !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media(max-width:992px){
  .link-more{
    display: flex;
    padding: 6px 25px;
    font-size: 14px;
    svg{
      transition: transform .3s ease;
      height: 26px;
    }
  }
}
