@import "/public/const.scss";

@keyframes slogan {
  0% {
    opacity: 0;
    transform: translateX(-5vw);
    -webkit-transform: translateX(-5vw);
    -moz-transform: translateX(-5vw);
    -ms-transform: translateX(-5vw);
    -o-transform: translateX(-5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes podslogan {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  38% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes button1 {
  0% {
    opacity: 0;
    transform: translateX(-5vw);
    -webkit-transform: translateX(-5vw);
    -moz-transform: translateX(-5vw);
    -ms-transform: translateX(-5vw);
    -o-transform: translateX(-5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@keyframes button2 {
  0% {
    opacity: 0;
    transform: translateX(-5vw);
    -webkit-transform: translateX(-5vw);
    -moz-transform: translateX(-5vw);
    -ms-transform: translateX(-5vw);
    -o-transform: translateX(-5vw);
  }
  38% {
    opacity: 0;
    transform: translateX(-5vw);
    -webkit-transform: translateX(-5vw);
    -moz-transform: translateX(-5vw);
    -ms-transform: translateX(-5vw);
    -o-transform: translateX(-5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  .hero-fon {
    position: absolute;
    z-index: -99;
    object-fit: cover;
    height: 100vh;
    width: 100%;
  }
  .hero-content {
    color: white;
    position: relative;
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(6px);
    background-color: rgb(33, 31, 36, 0.4);
    .hero-buttons {
      display: flex;
      flex-direction: row;
      gap: 30px;
      margin-top: 52px;
      button,
      a {
        padding: 13px 30px;
        font-size: 20px;
        border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        font-weight: 430;
        transition: 0.3s ease;
        -webkit-border-radius: 20px;
      }
      button:nth-child(1) {
        background-color: white;
        color: black;
        border: 1px solid rgb(255, 255, 255);
        animation: button1 1s ease;
        -webkit-animation: button1 1s ease;
      }
      button:nth-child(1):hover {
        background-color: $dark-beige;
        color: white;
        border: 1px solid $dark-beige;
      }
      a {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        animation: button2 1.6s ease;
        -webkit-animation: button2 1.6s ease;
        text-align: center;
      }
      a:hover {
        background-color: white;
        border: 1px solid transparent;
        color: #7a6148;
      }
    }
    .slogan {
      p {
        font-size: 80px;
        font-weight: 300;
        line-height: 1.2;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.247);
        animation: slogan 1s ease;
        -webkit-animation: slogan 1s ease;
      }
      span {
        display: block;
        font-size: 24px;
        width: 50%;
        font-weight: 200;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.247);
        animation: podslogan 1.6s ease;
        -webkit-animation: podslogan 1.6s ease;
      }
    }
    img {
      position: absolute;
      right: 12%;
      bottom: 0;
      width: auto;
      height: 77%;
    }
  }
}
@media (max-width: 1815px) {
  .hero .hero-content .slogan span {
    width: 60%;
  }
}
@media (max-width: 1600px) {
  .hero {
    .hero-content {
      padding: 0 10%;
      img {
        right: 8%;
      }
      .slogan {
        p {
          font-size: 70px;
        }
        span {
          font-size: 20px;
        }
      }
      .hero-buttons {
        button {
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 1300px) {
  .hero {
    .hero-content {
      padding: 0 5%;
      img {
        right: 4%;
        height: 74%;
      }
      .slogan {
        p {
          font-size: 60px;
        }
        span {
          font-size: 18px;
        }
      }
      .hero-buttons {
        button {
          font-size: 16px;
          border-radius: 17px;
        }
      }
    }
  }
}
@media (max-width: 882px) {
  .hero {
    .hero-content {
      padding: 0 5%;
      img {
        right: 4%;
        height: 70%;
      }
      .slogan {
        p {
          font-size: 50px;
        }
        span {
          font-size: 16px;
        }
      }
      .hero-buttons {
        button {
          font-size: 16px;
          border-radius: 17px;
          padding: 10px 25px;
        }
      }
    }
  }
}
@media (max-width: 805px) {
  .hero {
    .hero-content {
      padding: 0 5%;
      img {
        display: none;
      }
      .slogan {
        p {
          font-size: 45px;
        }
        span {
          font-size: 14px;
        }
      }
      .hero-buttons {
        gap: 20px;
        button {
          font-weight: 450;
          font-size: 18px;
          border-radius: 17px;
          padding: 14px 25px;
        }
      }
    }
  }
}
@media (max-width: 690px) {
  .hero {
    .hero-content {
      padding: 0 5%;
      img {
        display: none;
      }
      .slogan {
        p {
          font-size: 45px;
        }
        span {
          font-size: 14px;
          width: 70%;
        }
      }
      .hero-buttons {
        gap: 20px;
        button {
          font-weight: 450;
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 565px) {
  .hero {
    .hero-content {
      padding: 0 5%;
      .slogan {
        p {
          font-size: 45px;
        }
        span {
          font-size: 14px;
          width: 80%;
        }
      }
      .hero-buttons {
        gap: 20px;
        button {
          font-weight: 450;
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 492px) {
  .hero {
    .hero-content {
      padding: 0 4%;
      .slogan {
        p {
          font-size: 34px;
        }
        span {
          font-size: 14px;
          width: 100%;
        }
      }
      .hero-buttons {
        flex-direction: column;
        gap: 20px;
        button {
          font-weight: 450;
          font-size: 18px;
        }
      }
    }
  }
}
