@import "/public/const.scss";

.home-block {
  padding: 100px 15%;
  display: flex;
}
.about {
  flex-direction: row;
  gap: 100px;
  background-color: white;
  .about-title {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 50%;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    }
    h2 {
      text-transform: uppercase;
      font-size: 48px;
      font-weight: 400;
    }
  }
  .about-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    h2 {
      font-size: 32px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
  .advantage-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    //justify-content: space-between;
    gap: 40px;
    .advantage {
      display: flex;
      flex-direction: column;
      gap: 0px;
      min-width: calc(50% - 20px);
      flex: 1;
      span {
        font-size: 54px;
        font-weight: 500;
        color: $dark-beige;
      }
      .advantage-line {
        height: 1px;
        width: 100%;
        background-color: $dark-beige;
        margin-top: 20px;
      }
      p {
        font-size: 17px;
        font-weight: 400;
      }
    }
  }
}
@media (max-width: 1600px) {
  .home-block {
    padding: 100px 5%;
  }
}
@media (max-width: 1475px) {
  .about {
    .advantage-block {
      gap: 30px;
      .advantage {
        span {
          font-size: 50px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 1375px) {
  .about {
    .advantage-block {
      gap: 25px;
      .advantage {
        span {
          font-size: 45px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}
@media (max-width: 1290px) {
  .about {
    .advantage-block {
      gap: 20px;
      .advantage {
        span {
          font-size: 40px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .home-block {
    padding: 60px 3%;
  }
  .about {
    flex-direction: column;
    gap: 20px;
    .about-title {
      width: 100%;
      gap: 25px;
      h2 {
        font-size: 30px;
        margin-bottom: 0;
      }
    }
    img {
      height: inherit;
      width: 100%;
      height: 35vh;
      object-fit: cover;
    }
    .about-text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      h2 {
        font-size: 20px;
        font-weight: 400;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
    .advantage-block {
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;
      .advantage {
        span {
          line-height: 1;
          font-size: 44px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
