@import '/public/const.scss';

.contacts{
    width: 100%;
    padding: 230px 15% 50px;
    .header-contacts{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        h1{
            text-transform: uppercase;
            font-weight: 300;
            position: relative;
            margin-bottom: 20px;
            font-size: 64px;
            //animation: serv2 1s ease;
          }
        
    }
    .body-contacts{
        display: flex;
        flex-direction: row;
        margin-bottom: 100px;
        justify-content: space-between;
        align-items: flex-start;
        animation: serv1 1s ease;
    }
    .right-body-contacts{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        //margin-right: auto;
        .right-body-contacts-content{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            flex-wrap: wrap;
            text-align: center;
            gap: 40px 20px;
            width: 100%;
            div{
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-bottom: 10px;
                align-items: flex-start;
                min-width: 40%;
                flex: 1;
                .icons{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    svg{
                        width: 35px;
                        height: auto;
                        fill: black;
                        transition: .3s ease;
                    }
                    svg:hover{
                        fill: $dark-beige;
                    }
                }
                svg{
                    width: 20px;
                    height: auto;
                    fill: $dark-beige;
                }
                p{
                    margin-bottom: 0;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            .color{
                color: black;
            }
            span{
                align-items: center;
                display: flex;
                gap: 5px;
            }
        }
        h4{
            font-size: 18px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.7);
            margin: 0;
        }
    }
    .contacts-footer{
        margin-top: 100px;
        margin-left: 10%;
        margin-right: 10%;
        max-width: 100%;
        margin-bottom: 100px;
        div{
            width: 100% !important;
            height: 500px !important;
        }
        .ymaps-2-1-79-map{
            width: 100% !important;
            height: 100% !important;    
        }
    }
}

@media (max-width: 1760px) {
    .contacts{
        .right-body-contacts{
            .right-body-contacts-content{
                div{
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1653px) {
    .contacts{
        .right-body-contacts{
            margin-left: 7%;
            .right-body-contacts-content{
                gap: 40px 0;
                div{
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1600px) {
    .contacts{
        padding: 230px 10% 50px;
        .right-body-contacts{
            margin-left: 7%;
            .right-body-contacts-content{
                gap: 40px 0;
                div{
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1370px) {
    .contacts{
        .right-body-contacts{
            h4{
                font-size: 15px;
            }
            .right-body-contacts-content{
                gap: 40px 0;
                div{
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1300px) {
    .contacts{
        padding: 200px 5% 50px;
    }
}

@media (max-width: 1140px) {
    .contacts{
        .right-body-contacts{
            margin-left: 5%;
        }
    }
}
@media (max-width: 1116px) {
    .contacts{
        .right-body-contacts{
            h4{
                width: 100%;
                text-align: end;
            }
            .right-body-contacts-content{
                flex-direction: column;
                align-items: end;
                gap: 10px 0;
                div{
                    align-items: flex-end;
                }
            }
        }
    }
}
@media (max-width: 785px) {
    .contacts{
        padding: 150px 5% 0px;
        .header-contacts{
            h1{
                font-size: 50px;
            }
        }
        .body-contacts{
            flex-direction: column;
            align-items: flex-start;
        }
        .right-body-contacts{
            margin-left: 0;
            h4{
                width: 100%;
                text-align: start;
            }
            .right-body-contacts-content{
                flex-direction: column;
                align-items: start;
                gap: 10px 0;
                div{
                    align-items: flex-start;
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .contacts{
        padding: 150px 5% 0px;
        .header-contacts{
            h1{
                font-size: 40px;
            }
        }
        .body-contacts{
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 40px;
        }
        .right-body-contacts{
            margin-left: 0;
            h4{
                width: 100%;
                text-align: start;
            }
            .right-body-contacts-content{
                flex-direction: column;
                align-items: start;
                gap: 10px 0;
                div{
                    align-items: flex-start;
                }
            }
        }
    }
}